version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: order-service-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    container_name: order-service-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    container_name: order-service-kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-service-app
    depends_on:
      - postgres
      - kafka
    env_file:
      - .env
    ports:
      - "8082:8082"

  producer:
    image: golang:1.23-alpine
    working_dir: /app
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - kafka
    command: ["go", "run", "./producer/send_example.go"]
